{% extends "base.html" %}

{% block content %}

<h3 class="teal-text text-darken-4 center-align">Categories</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn-large teal darken-2">
            Add Category <i class="fa-solid fa-circle-plus right"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for category in categories %}
    <div class="col s12 m6 l4">
        <div class="card brown darken-1 center-align">
            <div class="card-content white-text">
                <span class="card-title">{{ category.category_name }}</span>
            </div>

            <div class="card-action">

                <a href="{{ url_for('edit_category', category_id=category.id) }}"
                    class="btn-small orange lighten-1">Edit</a>
                <a href="#modal-{{ category.id }}" class="btn-small red darken-1 modal-trigger">Delete</a>

            </div>

        </div>

        <!-- modal -->
        <div id="modal-{{ category.id }}" class="modal">
            <div class="modal-content">
                <h4>Confirm Delete</h4>
                <p>Are you sure you want to delete this category?</p>
                <p>
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <strong>Warning: all associated tasks will also be deleted.</strong>
                </p>
                <p>This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('delete_category', category_id=category.id) }}"
                    class="btn-flat red darken-1 white-text">Delete</a>
                <a href="#!" class="btn-flat brown-text modal-close">Cancel</a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}