{% extends "base.html" %}

{% block content %}

<h3 class="teal-text text-darken-4 center-align">Tasks</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_task') }}" class="btn-large teal darken-2">
            Add Task <i class="fa-solid fa-circle-plus right"></i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for task in tasks|sort(attribute="due_date") %}
        <li>
            <div class="collapsible-header brown darken-1 white-text">
                <i class="fa-solid fa-thumbtack"></i>
                {{ task.task_name }}
                {% if task.is_urgent == True %}
                    <i class="fa-solid fa-exclamation"></i>
                {% endif %}
                <div class="task-due-date valign-wrapper">
                    <i class="fa-solid fa-calendar-days task-date-icon"></i>
                    {{ task.due_date.strftime('%b %d') }}
                </div>
            </div>
            <div class="collapsible-body brown lighten-5">
                <div class="row task-row">
                    <div class="col s8">
                        {{ task.task_description }}
                    </div>
                    <div class="col s3 valign-wrapper task-category-wrapper">
                        <i class="fa-solid fa-folder-open task-folder-icon"></i>
                        <strong>{{ task.category }}</strong>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

{% endblock %}