body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-logo {
    margin-left: 2rem;
}

main {
    flex: 1 0 auto;
}

.task-due-date {
    margin-left: auto;
    padding-right: 1rem;
}

.task-date-icon {
    font-size: 1.3rem !important;
    margin-right: .7rem !important;
}

.task-controls-row {
    margin-bottom: 0;
}

.task-category-wrapper {
    margin-bottom: 1rem;
}

.task-folder-icon {
    margin-right: 10px;
    font-size: 1.5rem;
}

@media (min-width: 601px) {
    .task-category-wrapper {
        justify-content: flex-end;
        margin-bottom: 0;
    }
}